@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap')
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.LoginForm {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
}

.hidden {
    display: none;
}